/* You can add global styles to this file, and also import other style files */
html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sebm-google-map-container{
  top: 59px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.agm-map-container-inner {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
}

#header{
  width: 100%;
  position: fixed;
  z-index: 20;
  text-align: center;
  background-color: #e4003b;
}

#header h1 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  line-height: 59px;
}

.gm-style-iw + div {
  display: none;
}

#current-location {
  position: fixed;
  bottom: 0;
  left: 10%;
  right: 10%;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding: 20px;
  color: #e4003b;
  text-shadow: rgb(255, 255, 255) 0px 0px 10px;
}

#current-location .distance {
  font-size: 18px;
}

.next,
.previous {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 5%;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
}

.next i,
.previous i {
  font-size: 80px;
  position: absolute;
  color: #e4003b;
  top: 50%;
  margin-top: -50px;
  left: 0;
  right: 0;
text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
  transition: opacity 0.5s ease;
  opacity: 0.5;
}

.next:hover i,
.previous:hover i {
  opacity: 1;
}

.next {
  right: 0;
}

.previous {
  left: 0;
}

.gm-style-iw > div {
  overflow: visible !important;
}

.agm-info-window-content {
  position: relative;
  margin-right: -20px;
}

.agm-info-window-content .date {
  position: absolute;
  right: 5px;
  top: 5px;
  font-weight: bold;
}

.agm-info-window-content h1 {
  font-size: 20px;
  background-color: #e4003b;
  color: #fff;
  padding: 10px;
  margin: 0 0 10px 0;
}

.agm-info-window-content ul.images {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.agm-info-window-content ul.images li {
  display: inline-block;
  width: 150px;
  height: 90px;
  position: relative;
  border: 1px solid #ccc;
  margin-right: 5px;
  margin-bottom: 5px;
}

.agm-info-window-content ul.images li .image {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  background-size: cover;
}

#current-image {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.9);
}

#current-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}

#current-image .credit {
  position: absolute;
  bottom: 0;
  padding: 5px;
  text-align: center;
  left: 0;
  right: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #e4003b;
  z-index: 5;
}

#current-image .credit a {
  color: #e4003b;
}

#c4l {
  position: fixed;
  top: 6px;
  right: 8px;
  background-image: url(http://www.codersforlabour.com/assets/logo-white.png);
  background-size: 100% auto;
  width: 40px;
  height: 46px;
  z-index: 21;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease;
  opacity: 0.6;
}

#c4l:hover {
  opacity: 1;
}

@media (max-width: 599px) { 
  #header h1 {
    font-size: 20px;
  }
}